.struggling-tomake-container {
  display: grid;
  grid-template-columns: .64fr 1fr;
  padding: 120px 0px 120px 105px;
  position: relative;
  overflow: hidden;
}

.struggling-shape1 {
  position: absolute;
  left: 15.45px;
  top: 68.49px;
}

.struggling-shape2 {
  position: absolute;
  left: 328.53px;
  bottom: 67.681px;
}

.struggling-shape1,
.struggling-shape2 {
  animation: rotateAnimation 1.5s linear infinite alternate;
}


.struggling-text-wrapper h2 {
  color: #F89E52;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

.struggling-text-wrapper h1 {
  color: #0B0B0B;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 19px;
  margin-bottom: 27px;
  max-width: 400px;
}

.struggling-text-wrapper p {
  max-width: 380px;
  color: #727272;
  font-weight: 300;
  line-height: 32.64px;
}

.icecream-img {
  width: 370px;
  height: 514.43px;
  max-width: 370px;
  max-height: 579px;
}


.struggling-img-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: -290px;
  top: 120px;
  margin-top: 20px;
}

.struggling-btn-wrapper {
  margin-top: 36.84px;
}

.struggling-smaller-screen-imgs {
  display: none;
}

@media (max-width: 1440px) {
  .struggling-img-wrapper {
    right: -320px;
  }
}

@media (max-width: 1375px) {
  .struggling-tomake-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
    padding-bottom: 300px;

  }

  .struggling-text-wrapper {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .struggling-img-wrapper {
    position: initial;
    margin-top: 0px;
  }

  .struggling-text-wrapper h1 {
    max-width: 500px;
    font-size: 47.5px;
  }

  .struggling-text-wrapper h2 {
    color: #F89E52;
  }

  .struggling-text-wrapper p {
    text-align: left;
    max-width: 680px;
  }

  .struggling-btn-wrapper {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
  }

  .struggling-btn-wrapper button {
    position: relative;
  }

  .struggling-shape1 {
    left: 20px;
    top: -95px;
  }

  .struggling-shape2 {
    bottom: -50px;
    left: -160px;
  }
}

@media (max-width: 1175px) {
  .struggling-img-wrapper {
    display: none;
  }

  .struggling-smaller-screen-imgs {
    display: flex;
    gap: 30px;
  }

  .struggling-smaller-screen-imgs img {
    height: 455px;

  }
}

@media (max-width: 710px) {
  .struggling-smaller-screen-imgs {
    flex-direction: row-reverse;
  }

  .struggling-smaller-screen-imgs img:nth-child(1) {
    flex-shrink: 0;
    /* Prevent the image from shrinking to fit */
  }

  .struggling-smaller-screen-imgs img {
    width: 300px;
    height: 416.72px;
  }



}

@media (max-width: 651px) {

  .struggling-tomake-container {
    height: 1207px;
  }

  .struggling-smaller-screen-imgs {
    position: absolute;
    bottom: 300px;
    left: 0px;
  }




}

@media (max-width: 600px) {
  .struggling-text-wrapper h1 {
    font-size: 45.7px;
    line-height: 54.8px;
    max-width: 366px;
  }

  .struggling-text-wrapper p {
    text-align: center;
    max-width: 360px;
  }

  .struggling-smaller-screen-imgs {
    bottom: 280px;
  }

  .struggling-tomake-container {
    height: 1320px;
    padding-bottom: 0px;
  }

  .struggling-shape1 {
    top: -75px;
    left: 10px;
  }

  .struggling-shape2 {
    display: none;
  }
}

@media (max-width: 450px) {
  .struggling-text-wrapper h1 {
    max-width: 306px;
  }

  .struggling-tomake-container {
    height: 1360px;
  }

  .struggling-smaller-screen-imgs {
    bottom: 260px;
  }
}

/* @media (max-width: 556px) {

  .struggling-tomake-container {
    height: 1207px;
  }

  .struggling-smaller-screen-imgs {
    position: absolute;
    bottom: 280px;
    left: 0px;
  }




} */